*{
    margin: 0; padding: 0; box-sizing: border-box;
}

header{
    width: 100%; height: 100vh;
    overflow: hidden; 
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('../Project/pn4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: change 20s infinite ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

nav{
    width:100%; height : 15vh;
    /* background: rgba(0,0,0,0.2); */
    color: white; display:flex; justify-content: space-between;
    align-items:center; text-transform: uppercase;
}

nav .logo{
    width: 25%; text-align: center; color: rgb(248, 16, 8);
}

nav .menu{
    width:40%; 
    display: flex; justify-content: space-around;
}   

nav .menu a{
    width: 25%;
    text-decoration: none; color:white;
    font-weight: bold;
}


nav .menu a:first-child {
    color:rgb(241, 12, 4) ;
}

nav .menu a:nth-last-child(2){
    color: rgb(241, 12, 4);
}

main{
    width:100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* section h2{
      font-size: 25px; font-weight: 200; 
      justify-content:baseline;
    align-items:baseline;
    text-align:end;
    color:rgb(241, 12, 4) ;

} */

section h3{
    font-size: 35px; font-weight:200; letter-spacing: 3px;
}

section h1{
    margin: 30px 0 20px 0;
    font-size:  55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    /* font-weight: 500; */
    text-decoration:none;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all .5s ease;
}

section .btnone{
    background: white;
    color: black;
}

.btnone:hover{
     background:rgb(241, 12, 4);
     color: white;
}

section .btntwo{
    background: rgb(241, 12, 4);
    color: white;
}

.btntwo:hover{
    background: white;
    color: black;
}


.change_content:after{
    content: '';
    animation: changetext 20s infinite linear;
    color: rgb(241, 12, 4);
}


@keyframes changetext{
    0%{content:" Gandhi Maidan" ;} 
     20%{content:" Bihar musium" ;} 
     40%{content:" Patna Zoo" ;} 
     60%{content:" Taramandal" ;} 
     80%{content:" Patan Devi Mandir" ;}  
     100%{content:" Patna Sahib" ;} 

}

@keyframes change{
    0%{
        background-image: url(../Project/Gandhi\ Maidan.jpg);
    } 
     20%{
        background-image: url(../Project/Bihar\ Musium.jpg);
    }  
    40%{
        background-image: url(../Project/Patna_Zoo.jpg);
    } 
     60%{
        background-image: url(../Project/Taramandal.jpg);
    } 
      80%{
        background-image: url(../Project/Patan\ devi.jpg);
    }  
    100%{
        background-image: url(../Project/Patna\ Sahib.jpg);
    }  
}

/* .change_content:after{
    content: '';
    animation: changebackground-image 5s infinite linear;
}

@keyframes changebackground-image{
    0%{content: url('../Project/Gandhi\ Maidan.jpg') ;}
    20%{content:url('../Project/Bihar\ Musium.jpg') ;}
    35%{content:url('../Project/Patna_Zoo.jpg') ;}
    60%{content:url('../Project/Taramandal.jpg') ;}
    80%{content: url('../Project/Patan\ devi.jpg');}
    100%{content:url('../Project/Patna\ Sahib.jpg');}

} */

.logo {
    /* display: inline-block;
     margin: 0 0.5rem;  */
  
    /* animation:; /* referring directly to the animation's @keyframe declaration */
    animation:heartBeat;
    animation-duration: 1s; 
    animation-iteration-count: infinite; 
   }  

  /* .logo.animate__animated.animate__bounce {
    --animate-duration: 2s;
  } */
